
<section class="login-dark"><img src="chat.png" />
    <form method="post">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="mb-3"><input type="email" class="form-control" name="email" placeholder="Email" /></div>
        <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Password" /></div>
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Connexion</button></div><a class="forgot" href="#">email ou mot de passe perdu?</a>
    </form>
</section>
