{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_title %}
    <h1 class="text-uppercase text-center">Bienvenue sur le dashboard d'ANIMA </h1>
    <p>
        Ce dashboard, ayant un accès restraint, vous permet gérer vos données, lire, créer, modifier ou supprimer vos données.
        <br>
        En cas de problème technique ou à titre informatif, veuillez vous référer à la documentation technique de l'application ANIMA,
        (voir partie administration des données et gestion du C.R.U.D. soit Create, Read,
        Update, Delete)
        ou contacter l'équipe technique en charge de la conception, du développement et du déploiement.
    </p>
{% endblock %}

{% block page_content %}
    {#{{  dump() }}#}
{% endblock %}
