
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/css-reset-normalize/reset.css') }}">

        <link rel="stylesheet" href="{{ asset('css/css-reset-normalize/style.css') }}">
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-su bg-success bg-gradient shadow gradient-background">
        <div class="container-fluid">
            <picture>
                <img src="images/logo-anima/logo-vector.svg" style="height: 6rem; width: auto" alt="logo">
                {#<source srcset="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" type="image/svg+xml">#}
{#
                <img src="images/logo-anima/logo-vector.svg"class="img-fluid img-thumbnail" alt="...">
#}
            </picture>

            <a class="navbar-brand" href="{{ path('default_index') }}">
                ANIMA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 form-control-color">
                    <li class="nav-item">
                        <a href="{{ path('default_index') }}" class="nav-link{% if app.request.get('_route') == 'default_index' %} active{% endif %}">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('adoption_index') }}" class="nav-link{% if app.request.get('_route') == 'adoption_index' %} active{% endif %}">
                            à l'adoption
                        </a>
                    </li>
                    <li class="nav-item text-capitalize">
                        <a href="{{ path('default_conditions') }}" class="nav-link{% if app.request.get('_route') == 'default_conditions' %} active{% endif %}">
                            formalités
                        </a>
                    </li>
                    <li class="nav-item te">
                        <a href="#" class="nav-link active">
                            nos actions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href=" " class="nav-link active">
                            nous aider
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href=" " class="nav-link active text-uppercase">
                            nos rescapés
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href=" " class="nav-link active">
                            boutique
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('default_conditions') }}" class="nav-link{% if app.request.get('_route') == 'default_conditions' %} active{% endif %}">
                            Conditions d'adoption
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('default_contact') }}" class="nav-link{% if app.request.get('_route') == 'default_contact' %} active{% endif %}">
                            Contact
                        </a>
                    </li>

                    {#{% if app.user.id is defined %}#}
                    {#{% if is_granted('ROLE_USER')%}
                        <li class="nav-item">
                            Bienvenue chez ANIMA, {{ app.user.username }}
                                <a href="{{ path('app_logout') }}" class="nav-link active">
                                    Déconnexion
                                </a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="nav-link active">
                                    Connexion
                                </a>
                            </li>
                    {% endif %}#}

                    <div>
                        {% if app.user %}
                            <div>
                                Bonjour {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                            {% if app.user.roles is defined %}
                                <div>
                                    {% for role in app.user.roles %}
                                        {% if role == 'ROLE_SUPER_ADMIN' %}
                                            <li>
                                                <a class="nav-link"
                                                   href="{{ path('admin_dashboard') }}">ANIMA DashBoard</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% else %}

                            <ul class="navbar-nav mr-auto">
                                <li>
                                    <a class="nav-link {% if app.request.get('_route') == 'login' %} active {% endif %}"
                                       href="{{ path('app_login') }}">
                                        Connexion
                                    </a>
                                </li>
                                {#<li>
                                    <a class="nav-link {% if app.request.get('_route') == 'register' %} active {% endif %}"
                                       href="{{ path('app_register') }}">
                                        Register
                                    </a>
                                </li>#}
                            </ul>
                        {% endif %}
                    </div>

                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}

{% block header %}
<header id="entete">
    <div id="" class="">
        <img src="images/logo-anima/logo-vector.svg" alt="logo">
        <nav id="bt-menu" class="bt-menu">
            <a class="bt-menu-trigger"><span>Menu</span></a>
            <ul class="d-md-inline-flex d-sm-flex flex-sm-column flex-md-row roboto black">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href=".html"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </div>
    <div id="titre" class="container d-flex justify-content-between flex-column align-items-center">
        <h1 class="roboto black">protection animale</h1>
        <h2 class="rockwell">ANIMA, du latin “anima” signifie âme, souffle.
            D’ou provient le terme ANIMAL.</h2>
        <a class="shadow" href="#concept">Découvrir</a>
    </div>
</header>


{#<header class="bg-purple">
    <div class="container">

            <div class="col-sm-12">

                ​<picture>#}
                    {#<source srcset="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" type="image/svg+xml">#}
                   {# <img src="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" class="img-fluid img-thumbnail" alt="...">

                </picture>

            </div>
        </div>#}
        {#<div class="col-sm-4">
            <div class="badge bg-primary text-wrap" style="width: 6rem;">
                This text should wrap.
            </div>
        </div>#}
{#    </div>
    <div class="row">#}
        ​<{#picture#}>
            {#<source srcset="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" type="image/svg+xml">#}
            {#<img src="images/logo-anima/logo-vector.svg" class="img-fluid text-center" alt="...">

        </picture>#}
        {#<div class="col-sm">
            <img src="images/logo-anima/logo-vector.svg" class="img-fluid text-center" alt="...">

        </div>#}
{#        <div class="col-sm">
            <h1>protection animale</h1>
        </div>
        <div class="col-sm">

            <h2>ANIMA, du latin “anima” signifie âme, souffle.
                D’ou provient le terme ANIMAL.</h2>

        </div>
    </div>
    </div>#}
    {#<div class="container-fluid">
        <div class="mx-auto" style="width: max-content;">
            <div class="badge bg-primary text-wrap" style="width: 6rem;">
            </div>

            <img src="images/logo-anima/logo-vector.svg" class="img-fluid text-center" alt="...">

        </div>

    </div>
</header>#}

<body>
{#<header>
    <nav class="col-sm">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </nav>
    <div class="col-sm">
        <h1>protection animale</h1>
        <h2>anima</h2>
        <div class="mx-auto">
            <h2>ANIMA, du latin “anima” signifie âme, souffle.
                D’ou provient le terme ANIMAL.</h2>
            <p></p>
        </div>
    </div>
</header>#}
{% endblock header %}


    <body>
        {% include 'partials/_responsive-navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>


{% block footer %}
    <footer id="contact">
        <div class="container ">
            <div class="row">
                <aside class="col-md-5 col-sm-12">
                    <h2>Nous contacter</h2>
                    <div id="email">
                        <div class="d-flex align-items-center">
                            <img src="img/mail.png" alt="contact">
                            <span id="sep"></span>
                            <img src="img/pin-3.png" alt="">
                        </div>
                    </div>
                    <p id="adresse">35 rue du Massacre<br>42???????????? Pélussin, Rhônes-Alpes</p>
                    <ul class="d-flex justify-content-center">
                        <li>
                            <picture>
                                {#<source srcset="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" type="image/svg+xml">#}
                                <img src="images/logo-anima/logo-vector.svg" alt="...">

                            </picture>
                        </li>
                        <li><a href="#"><img src="img/logo-facebook.png" alt=""></a></li>
                        <li class="mx-4"><a href="#"><img src="img/logo-instagram.png" alt=""></a></li>
                        <li><a href="#"><img src="img/logo-messenger.png" alt=""></a></li>
                    </ul>
                </aside>
                <form action="" class="col-md-7 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                    <input type="text" placeholder="Nom">
                    <input type="text" placeholder="Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <button type="submit" class="bouton shadow">Envoyer</button>
                </form>
            </div>
            <div class="footer row flex-column justify-content-center align-items-center mt-4">
                <script>
                    ANIMA © ${new Date().getFullYear()}
                    +"<br>"+
                     ❤️ par <a href="#"></a>
                    <p class= 'FaGitlab'></p>
                    avec des Logiciels Libres
                </script>
                <i class="fa-solid fa-symfony"></i>
                <i class="fa-solid fa-gitlab"></i>
                <i class="fa-solid fa-user"></i>
                <p>FaSymfony
                    2019 © ANIMA - Web Site developed with passion by Hugues Simulacre G. on Symfony PHP framework
                    <button>
                        Hey Oh! Wanna See Codes Repo?
                        <a href=""><i class="fa-solid fa-gitlab"></i></a>
                        All's on Open-Source
                    </button>
                    </p>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
{#

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    #}
{# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}{#

    {% block stylesheets %}
        #}
{#{{ encore_entry_link_tags('app') }}#}{#

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% endblock %}

    {% block javascripts %}
        #}
{#{{ encore_entry_script_tags('app') }}#}{#

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
{% include ('partials/header.html.twig') %}
{% block body %}{% endblock %}
</body>
#}
</html>
